.pokemons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Adicione flex-wrap para que os elementos sejam distribuídos em várias linhas */
    justify-content: center; /* Centraliza horizontalmente os elementos filhos */
    align-items: center; /* Centraliza verticalmente os elementos filhos */
    min-height: 30vh;  /* Garante que o elemento pai ocupe toda a altura da janela do navegador */
    width: 100%; /* Garante que o elemento pai ocupe toda a altura da janela do navegador */
    grid-template-columns: 1fr; /* Essa propriedade não é necessária para flexbox, pode ser removida */
  }
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
    
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
.pokemon{
    margin: 0.5rem;
    padding: 1rem;
    display: flexbox;
    flex-direction: column;
    border-radius: 1rem;
    min-height: 20vh;
    width: 40vw;
}
.pokemon .number{
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}
.pokemon .name{
    margin-bottom: .25rem;
    font-size: .625rem;
    color: #fff;
    text-transform: capitalize;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pokemon .detail .types{
    padding: 0%;
    margin: 0%;
    list-style: none;
}
.pokemon .detail .types .type{
    color: #fff;
    padding: .25rem .5rem;
    border-radius: 1rem;
    margin: .25rem 0;   
    text-align: center;
    font-size: .625rem;
    filter:brightness(1.1);
    
}
.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: inherit;
}
.buttons button{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: .5rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    border-radius: 1rem;
    margin: .25rem 0;   
    font-size: .625rem;
    color: #fff;
}
.buttons #next{
    background-color: #00C853;
}
.buttons #back{
    background-color: #2196F3;
}
/* Media queries  */
@media screen and (min-width:380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}@media screen and (min-width:992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
}
